@model List<shopxanh.Areas.admin.Models.CartItem>
<div class="cart">
    <p style="color:darkgoldenrod">
        Chào mừng bạn đến shop! <span><a href="/gio-hang">Giỏ hàng</a></span><div id="dd" class="wrapper-dropdown-2">
            
            <ul class="dropdown">
                <li>Bạn có @Model.Count sản phẩm </li>
            </ul>
        </div>
    </p>
</div>
