@using shopxanh.Help
@model model.EF.ProductCategorie

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_mylayout.cshtml";
}


@section _Header
{

    <link href="/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Quản lý Sản Phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="bs-example" style="text-align:right;padding-bottom:10px;">
                    <div class="btn-group">
                        @Html.DropDownListFor(model => model.ID, (SelectList)ViewBag.Catogory, "----------Tat ca san pham-------------",
                       new { @class = "form-control", @id = "Catogory" })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Thêm mới", "Create")
                    </div>
                </div>
                <div id="getProduct"></div>
            </div>
        </div>
    </div>
</div>


@section _Footer
{
    <!-- DataTables JavaScript -->

    <script src="/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="Content/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="Content/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            function getProduct() {
                var CatogoryId = $('#Catogory').val();
                $.ajax({
                    url: '@Url.Action("getProduct","Products")',
                    type: "GET",
                    data: { id: CatogoryId },
                    success: function (data) {
                        console.log(CatogoryId);
                        $("#getProduct").html(data);
                    },
                    error: function (data) {
                        alert("something went wrong.");
                    }
                });
            }
            getProduct();
            $("#Catogory").change(function () {
                getProduct();
            })
        });
    </script>

}
