
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_mylayout.cshtml";
}
<div><marquee behavior="alternate" style="color:coral" >Chào mừng bạn đến với Admin</marquee></div>
<div>
<img src="/Content/images/admin.jpg" />
</div>